{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>


<!DOCTYPE html>

<head>
    <title>TrapTalk</title>  
</head>
<body>

<div class = "index" id = "outer">
    <img src="{% static 'header.png' %}"  alt="TrapTalk" class = "index" id = "header">
    <div class = "index" id = "loginTab"><p>Login</p></div>
    <div class = "index" id = "loginBox">
        <form  action="demo_form.asp">
            <input class = "index"  id = "loginUN" type="text" placeholder = "Username"><br>
            <input class = "index"  id = "loginPW" type="text" placeholder = "Password"><br>
        </form>        
    </div>
    <div class = "index" id = "signupTab"><p>Sign Up</p></div>
    <div class = "index" id = "signupBox">
        <form action="demo_form.asp">
            <input class = "index" id = "signupUN" type="text" placeholder = "Username"><br>
            <input class = "index"  id = "signupPW" type="text" placeholder = "Password"><br>
        </form>
    </div>
    <div class = "index" id = "submit"><p>Go</p></div>
</div>

<script type="text/javascript">

     $( document ).ready( function(){

        var selected = 2;

        $('#loginTab').click(function() {
            $('#loginTab').css({
                'background-color': '#b3c6ff'
            });
            $('#signupTab').css({
                'background-color': '#d1d1e0'
            });
            $('#signupBox *').css({
                'z-index': '1'
            });
            $('#loginBox *').css({
                'z-index': '2'
            });   
            selected = 1;
        });

        $('#signupTab').click(function() {
            $('#loginTab').css({
                'background-color': '#d1d1e0'
            });
            $('#signupTab').css({
                'background-color': '#b3c6ff'
            });
            $('#signupBox *').css({
                'z-index': '2'
            });
            $('#loginBox *').css({
                'z-index': '1'
            });
            selected =2;
        });

        $('#submit').click(function(){
            if(selected === 1){
                var un = document.getElementById("loginUN").value;
                var pw = document.getElementById("loginPW").value;
            }
            else{
                var un = document.getElementById("signupUN").value;
                var pw = document.getElementById("signupPW").value;
                    console.log(un);
                    console.log(pw);
            $.ajax({
                    type: "POST",
                    url : "http://localhost:8000/signup/",
                    data: {username: un, password: pw},

                    success : function(data){
                        alert('yes')
                    },
                      error: function (request, status, error) {
                          alert('no');
                       }
                  },"json");

                    

            }

});




     });


</script>


</body>





