{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<link rel="shortcut icon" type="image/png" href="{% static 'favi.png' %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>


<!DOCTYPE html>

<head>
    <title>TrapTalk</title>  
</head>
<body>

<div class = "index" id = "outer">
    <img src="{% static 'header.png' %}"  alt="TrapTalk" class = "index" id = "header">
    <div class = "index" id = "loginTab"><p>Login</p></div>
    <div class = "index" id = "loginBox">
        <form  action="demo_form.asp">
            <input class = "index"  id = "loginUN" type="text" placeholder = "Username"><br>
            <input class = "index"  id = "loginPW" type="text" placeholder = "Password"><br>
        </form>        
    </div>
    <div class = "index" id = "signupTab"><p>Sign Up</p></div>
    <div class = "index" id = "signupBox">
        <form action="demo_form.asp">
            <input class = "index" id = "signupUN" type="text" placeholder = "Username"><br>
            <input class = "index"  id = "signupPW" type="text" placeholder = "Password"><br>
        </form>
    </div>
    <div class = "index" id = "submit"><p>Go</p></div>
</div>

<script type="text/javascript">

     $( document ).ready( function(){


        $.ajaxSetup ({
            cache: false
        });


        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');


        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
             return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }



        var selected = 2;

        $('#loginTab').click(function() {
            $('#loginTab').css({
                'background-color': '#b3c6ff'
            });
            $('#signupTab').css({
                'background-color': '#d1d1e0'
            });
            $('#signupBox *').css({
                'z-index': '1'
            });
            $('#loginBox *').css({
                'z-index': '2'
            });   
            selected = 1;
        });

        $('#signupTab').click(function() {
            $('#loginTab').css({
                'background-color': '#d1d1e0'
            });
            $('#signupTab').css({
                'background-color': '#b3c6ff'
            });
            $('#signupBox *').css({
                'z-index': '2'
            });
            $('#loginBox *').css({
                'z-index': '1'
            });
            selected =2;
        });


        $('#submit')
          .mousedown(function() {
            $( this ).css({
                'background-color': '#d1d1e0'
            });
          })
          .mouseup(function() {
            $( this ).css({
                'background-color': '#b3c6ff'
            });
        });



        $('#submit').click(function(){
            if(selected === 1){

                if(document.getElementById("loginUN").value === ""){
                    alert("Username field empty!");
                    return;
                }
                if(document.getElementById("loginPW").value === ""){
                    alert("Password field empty!");
                    return;
                }
                    
                var un = document.getElementById("loginUN").value;
                var pw = document.getElementById("loginPW").value;



                $.ajax({
                        type: "POST",
                        url : "https://traptalk.herokuapp.com/signin",
                        data: {username: un, password: pw},


                        beforeSend : function(xhr, settings) {
                            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                            }
                        },
                        success : function(data){
                            alert('token: ' + data['message']);
                            var token = data['message'];
                            
                            sessionStorage.setItem('token', token);
                            window.location.replace("main.html");


                        },
                        error: function (xhr, status, error) {
                              if(xhr.status === 403){
                                alert('Incorrect username or Password');
                              }
                              else{
                                alert('Server error: '+xhr.status)
                              }
                        }

                },"json");

            }
            else{
                if(document.getElementById("signupUN").value === ""){
                    alert("Username field empty!")
                    return;
                }
                if(document.getElementById("signupPW").value === ""){
                    alert("Password field empty!")
                    return;
                }
                var un = document.getElementById("signupUN").value;
                var pw = document.getElementById("signupPW").value;


                $.ajax({
                        type: "POST",
                        url : "https://traptalk.herokuapp.com/signup",
                        data: {username: un, password: pw},
                        dataType : "json",


                        beforeSend : function(xhr, settings) {
                            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                            }
                        },

                        success : function(data){
                            if(data['message'] === 'Username in use'){
                                alert(data['message']);
                            }
                            else if(data['message'] === 'Signup Success'){
                                alert(data['message']);
                                document.getElementById("signupUN").value = "";
                                document.getElementById("signupPW").value = "";
                            }
 
                        },
                        error: function (request, status, error) {


                        }
                },"json");
            }
        });
     });


</script>


</body>





