{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<link rel="shortcut icon" type="image/png" href="{% static 'favi.png' %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>


<!DOCTYPE html>

<head>
    <title>TrapTalk</title>  
</head>
<body>
<div class = "main" id = "headerbar">
	<img src="{% static 'header.png' %}"  alt="TrapTalk" class = "main" id = "header">
	<div class = "main" id = "addFriend"><p>Add Friend</p></div>
	<div class = "main" id = "logout"><p>Log Out</p></div>
</div>


<div id="modal" class="modal">

  <div class="modal-content">
    <div class="modal-header">
      <span class="close">×</span>
      <h2>Add Friend</h2>
    </div>
            <form  action="asp" method>
                <input class = "main"  id = "friendInput" type="text" placeholder = "Username"><br>
            </form>  
            <div class = "main" id = "submit"><p>submit</p></div>
    </div>
  </div>

</div>


<div class = "main" id = "outer">

   <div class = "main" id = "innerLeft">
    {% if friends %}
      {% for friend in friends %}
        {% if friend.friend_two.username ==  username   %}
          <div class = "mainFriends" id = "{{ friend.friend_one.username }}" name = "{{ friend.friend_one.username }}">{{ friend.friend_one.username }}</div>
        {% else %}
          <div class = "mainFriends" id = "{{ friend.friend_two.username }}" name = "{{ friend.friend_two.username }}">{{ friend.friend_two.username }}</div>
          {% endif %}
      {% endfor %}
      {% else %}
      No Mates
    {% endif %}


   </div>
   <div class = "main" id = "innerRight">
            <div class = "main" id = "received"></div>
            <textarea class = "main" id = "toSend" placeholder = "Press Enter to send"></textarea>
   </div>




    <div class = "main" id = "hidden">
      <form>
          <input type="hidden" id = "token" value={{ token }}>
          <input type="hidden" id = "username" value={{ username }}>
          <input type="hidden" id = "friends" value={{ friends }}>
          <input type="hidden" id = "messages" value={{ messages }}>
      </form>
    </div>




   

</div>

<script type="text/javascript">

var selected = "Nothing";


  $( document ).ready(function(){

  // MODAL CODE
  var modal = document.getElementById('modal');
  var span = document.getElementsByClassName("close")[0];
  span.onclick = function() { 
    modal.style.display = "none"; 
  }
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }
  $('#addFriend').click(function(){
    modal.style.display = "block";
    getNewMessages();
  });


  $('#submit').click(function(){
    if(document.getElementById("friendInput").value === ""){
        alert("Username field is empty");
        return;
    }
          
      var username = document.getElementById("username").value;
      var friendName = document.getElementById("friendInput").value;

        $.ajax({
                type: "POST",
                url : "https://traptalk.herokuapp.com/addFriend",
                data: {username: username, friendName: friendName, token: "{{ token }}"},


                beforeSend : function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                },
                success : function(data, textStatus, jqXHR){
                  alert(data['message']);
                  modal.style.display = "none";
                },
                error: function (xhr, status, error) {
                  alert('Server Error: ' + status + '; ' + error)
                  window.location.href = "/";
                }

        },"json");
              
    });


        $('.mainFriends').on('click', function () {
          selected = this.id;
          //getNewMessages();   // dont want to call server every time click different friend, thats ridiculous. call get new only after send, just use template code here. 

          document.getElementById("toSend").value = "";
          $("#received").empty();

          {% for message in messages %}
            if('{{message.message_from.username}}' == '{{username}}' && '{{message.message_to.username}}' == selected){
              $('#received').append("<div class = 'main' id = 'sentMsg'>" + "{{username}}" + ": " + '{{message.message_contents}}' +"</div>");
            }
            else if('{{message.message_to.username}}' == '{{username}}' && '{{message.message_from.username}}' == selected){
              $('#received').append("<div class = 'main' id = 'recvMsg'>" + "{{message.message_from.username}}" + ": " + '{{message.message_contents}}' +"</div>");           
            }
            else{}
          {% endfor %}
        });


        function getNewMessages(){
            document.getElementById("toSend").value = "";
            $("#received").empty();

            $.ajax({
                    type: "POST",
                    url : "https://traptalk.herokuapp.com/getParticularMessages",
                    data: {token: "{{ token }}", username: "{{username}}", selected: selected},
                    dataType : "json",
                    beforeSend : function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    },
                    success : function(data){

$.each(data, function(key, value){
        alert( '1: ' + key + ': ' + value );
    });


$.each(data['messages'], function(key, value){
        alert( '2: ' + key + ': ' + value );
    });


                    },
                    error: function (xhr, status, error) {
                        alert('Server error: '+xhr.status);
                          
                    }

            },"json");
        }


        $('#addFriend')
          .mousedown(function() {
            $( this ).css({
                'background-color': '#d1d1e0'
            });
          })
          .mouseup(function() {
            $( this ).css({
                'background-color': '#b3c6ff'
            });
        });

         $('#logout')
          .mousedown(function() {
            $( this ).css({
                'background-color': '#d1d1e0'
            });
          })
          .mouseup(function() {
            $( this ).css({
                'background-color': '#b3c6ff'
            });
        });

         $('.mainFriends')
          .mousedown(function() {
            $( this ).css({
                'background-color': '#d1d1e0'
            });
          })
          .mouseup(function() {
            $( this ).css({
                'background-color': '#3366ff'
            });
        });


    $('#logout').click(function(){
        $.ajax({
                type: "POST",
                url : "https://traptalk.herokuapp.com/signout",
                data: {token: "{{ token }}"},
                dataType : "json",
                beforeSend : function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                },
                success : function(data){
                  alert('signout succesful');
                  window.location.href = "/";

                },
                error: function (xhr, status, error) {
                    alert('Server error: '+xhr.status);
                      
                }

        },"json");
    });



		$("#toSend").keypress(function(e) {
    		if(e.which == 13) {
          var text = document.getElementById("toSend").value;
          sendMessage(text);
          $('#toSend').val("");
    		}
		});



		function sendMessage(message){
      if(selected === "Nothing"){
        alert("Select a Conversation first, Blood.");
        return;
      }

      document.getElementById("toSend").value = "";



      $.ajax({
              type: "POST",
              url : "https://traptalk.herokuapp.com/send",
              data: {senderName: "{{username}}", receiverName: selected, messageText: message, token: "{{ token }}", username : "{{username}}"},
              dataType : "json",


              beforeSend : function(xhr, settings) {
                  if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                      xhr.setRequestHeader("X-CSRFToken", csrftoken);
                  }
              },

              success : function(data){
                getNewMessages();

              },
              error: function (xhr, status, error) {
                  alert('Server error: '+ xhr.status);
                  window.location.href = "/";
              }
      },"json");

    
		}



        $.ajaxSetup ({
            cache: false
        });


        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');


        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
             return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }


     });


</script>

</body>





