{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<link rel="shortcut icon" type="image/png" href="{% static 'favi.png' %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>


<!DOCTYPE html>

<head>
    <title>TrapTalk</title>  
</head>
<body>
<div class = "main" id = "headerbar">
	<img src="{% static 'header.png' %}"  alt="TrapTalk" class = "main" id = "header">
	<div class = "main" id = "addFriend"><p>Add Friend</p></div>
	<div class = "main" id = "logout"><p>Log Out</p></div>
</div>


<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">×</span>
      <h2>Add Friend</h2>
    </div>
            <form  action="test">
                <input class = "main"  id = "friendInput" type="text" placeholder = ""><br>
                <input type="submit" value="Submit">
            </form>  
    </div>
    <div class="modal-footer">
    </div>
  </div>

</div>


<div class = "main" id = "outer">
   <div class = "main" id = "innerLeft">
      {% if friends %}
        {% for friend in friends %}
          <div class = "main" id = "friend"><h1>friend.friend_two</h1></div>
        {% endfor %}
      {% else %}
        <p>Get some mates</p>
      {% endif %}
   </div>
   <div class = "main" id = "innerRight">
            <textarea class = "main" id = "received" readonly="readonly"></textarea>

            <textarea class = "main" id = "toSend" placeholder = "Press Enter to send"></textarea>
   </div>

    <div class = "main" id = "hidden">
      <form>
          <input type="hidden" id = "test" value={{ token }}>
      </form>
    </div>




   

</div>

<script type="text/javascript">
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
//var btn = document.getElementById('#addFriend');

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}



    $( document ).ready(function(){

      $('#addFriend').click(function(){
        modal.style.display = "block";
      });



        $('#addFriend')
          .mousedown(function() {
            $( this ).css({
                'background-color': '#d1d1e0'
            });
          })
          .mouseup(function() {
            $( this ).css({
                'background-color': '#b3c6ff'
            });
        });

         $('#logout')
          .mousedown(function() {
            $( this ).css({
                'background-color': '#d1d1e0'
            });
          })
          .mouseup(function() {
            $( this ).css({
                'background-color': '#b3c6ff'
            });
        });


         $('#friend')
          .mousedown(function() {
            $( this ).css({
                'background-color': '#d1d1e0'
            });
          })
          .mouseup(function() {
            $( this ).css({
                'background-color': '#507cff'
            });
        });




    $('#logout').click(function(){
        return;
        $.ajax({
                type: "POST",
                url : "https://traptalk.herokuapp.com/signout",

                beforeSend : function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                },
                success : function(data){


                },
                error: function (xhr, status, error) {
                    alert('Server error: '+xhr.status);
                      
                }

        },"json");
    });


    $('#addFriend').click(function(){
        return;
        $.ajax({
                type: "POST",
                url : "https://traptalk.herokuapp.com/signout",

                beforeSend : function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                },
                success : function(data){


                },
                error: function (xhr, status, error) {
                    alert('Server error: '+xhr.status);
                      
                }

        },"json");
    });


		$("#toSend").keypress(function(e) {
    		if(e.which == 13) {
        		
   			var text = document.getElementById("toSend").value;

			sendMessage(text);
			$('#toSend').val("");

    		}
		});



		function sendMessage(message){

			var text = "<br />" + "{{username}}" + ": " + message + "<br />";

			$('#received').append(text);

		}



        $.ajaxSetup ({
            cache: false
        });


        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');


        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
             return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }


     });


</script>

</body>





