{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<link rel="shortcut icon" type="image/png" href="{% static 'favi.png' %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>


<!DOCTYPE html>

<head>
    <title>TrapTalk</title>  
</head>
<body>
<div class = "main" id = "headerbar">
	<img src="{% static 'header.png' %}"  alt="TrapTalk" class = "main" id = "header">
	<div class = "main" id = "addFriend"><p>Add Friend</p></div>
	<div class = "main" id = "logout"><p>Log Out</p></div>
</div>


<div class = "main" id = "outer">
   <div class = "main" id = "innerLeft">
   		<div class = "main" id = "noFriends"><p>Speights No Mates</p></div>
   </div>
   <div class = "main" id = "innerRight">
            <textarea class = "main" id = "received" readonly="readonly"></textarea>

            <textarea class = "main" id = "toSend" placeholder = "Press Enter to send"></textarea>
   </div>

</div>

<script type="text/javascript">

    $( document ).ready(function(){

     	var token = sessionStorage.getItem('token');
     	var username = sessionStorage.getItem('username');



		$( document ).ready(loadFriends());

		function loadFriends(){
			var friends = [];
			friends[0] = "Bill";

			//api call with uname and token
			//friends[] = list of friends
			if(friends.length === 0){
				$('#noFriends').css({ 
					'display': 'inline' 
				});
			}
			else{

				for(var i = 0; i< friends.length; i++){
					var $newDiv = $("<div/>")   
	                 .attr("id", "friend")  
	                 .addClass("main")  
	                 .html("<p>"+ friends[i] + "</p>");

					$("#innerLeft").append($newDiv);
				}




			}
		}

        $('#addFriend')
          .mousedown(function() {
            $( this ).css({
                'background-color': '#d1d1e0'
            });
          })
          .mouseup(function() {
            $( this ).css({
                'background-color': '#b3c6ff'
            });
        });

         $('#addFriend')
          .mousedown(function() {
            $( this ).css({
                'background-color': '#d1d1e0'
            });
          })
          .mouseup(function() {
            $( this ).css({
                'background-color': '#b3c6ff'
            });
        });








		$("#toSend").keypress(function(e) {
    		if(e.which == 13) {
        		
   			var text = document.getElementById("toSend").value;

			sendMessage(text);
			$('#toSend').val("");

    		}
		});



		function sendMessage(message){

			var text = "<br />" + username + ": " + message + "<br />";

			$('#received').append(text);

		}



        $.ajaxSetup ({
            cache: false
        });


        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');


        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
             return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }


     });


</script>

</body>





